body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

li {
    margin: 10px;
    display: block;
}

.practice {
    text-decoration: none;
    color: #333;
    display: block;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    transition: background-color 0.3s ease;
    overflow: hidden; /* Para contener el float de la imagen */
}

.practice:hover {
    background-color: #f0f0f0;
}

.practice img {
    width: 100%; /* Ancho del 100% para que la imagen ocupe el contenedor */
    height: auto;
    float: left; /* Coloca la imagen a la izquierda */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    border-radius: 5px;
}

.fixed-size {
    max-width: 200px; /* Ajusta este valor según tus necesidades */
}
